@font-face {
  font-family: "GothaProReg";
  src: url(../fonts/GothaProReg.otf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "GothaProLig";
  src: url(../fonts/GothaProLig.otf);
  font-style: normal;
  font-weight: lighter; }
@font-face {
  font-family: "GothaProBol";
  src: url(../fonts/GothaProBol.otf);
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "GothaProMed";
  src: url(../fonts/GothaProMed.otf);
  font-style: normal;
  font-weight: medium; }
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0 0 0 0;
  font-family: "GothaProLig", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h4, h5, h6, h1, h2, h3, ul, p {
  margin: 0; }

.head-wrap {
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -130px;
  min-height: 930px; }
  .head-wrap h1 {
    font-size: 42px;
    font-family: "GothaProLig", sans-serif;
    font-weight: 300;
    color: #fff; }
    .head-wrap h1 span {
      font-family: "GothaProReg", sans-serif;
      font-weight: normal; }

.logo {
  background-image: url(../img/logo.png);
  background-size: contain;
  width: 254px;
  height: 56px;
  margin: 50px 0 130px 30px; }

.top-advatages-wrap {
  margin-top: 20px; }

.top-advatages {
  padding-top: 30px; }

.graph {
  background-image: url(../img/01.png);
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-left: 15px; }

.star {
  background-image: url(../img/02.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-left: 15px; }

.prise {
  background-image: url(../img/03.png);
  background-size: contain;
  width: 37px;
  height: 35px;
  margin-right: -5px;
  margin-left: 15px; }

.top-advant {
  color: #fff; }
  .top-advant p {
    margin-left: 25px;
    font-size: 18px; }
    .top-advant p span {
      font-family: "GothaProBol", sans-serif;
      font-weight: bold; }

.trading-wrap {
  min-height: 700px;
  max-height: 700px; }

.trade-img-wrap {
  background-image: url(../img/responsive-web-design-1030x579.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 579px;
  max-width: 1030px; }

.trading-up {
  position: relative;
  top: -230px; }

.trading-text {
  text-align: center; }
  .trading-text h2 {
    padding-bottom: 35px;
    font-size: 42px;
    font-family: "GothaProLig", sans-serif;
    font-weight: 300; }
  .trading-text p {
    font-size: 18px;
    font-family: "GothaProLig", sans-serif;
    font-weight: 300;
    line-height: 1.5em; }
  .trading-text span {
    font-family: "GothaProLig", sans-serif;
    font-weight: bold; }

.os {
  padding-top: 50px;
  max-width: 500px;
  margin: 0 auto; }

.windows {
  background-image: url(../img/windows.png);
  background-size: contain;
  width: 107px;
  height: 32px;
  margin: 0 auto; }

.android {
  background-image: url(../img/android.png);
  background-size: contain;
  width: 98px;
  height: 36px;
  margin: 0 auto; }

.ios {
  background-image: url(../img/ios.png);
  background-size: contain;
  width: 111px;
  height: 36px;
  margin: 0 auto; }

.advantages-wrap {
  border-top: 1px solid #000;
  padding-top: 100px; }
  .advantages-wrap ul {
    padding-left: 20px;
    padding-top: 20px; }
    .advantages-wrap ul li p {
      padding-top: 0px; }
  .advantages-wrap h3 {
    text-align: center;
    padding-bottom: 60px;
    font-size: 42px;
    font-family: "GothaProLig", sans-serif;
    font-weight: 300; }
  .advantages-wrap p {
    text-align: left;
    font-size: 14px;
    padding-top: 20px;
    line-height: 1.3em; }
  .advantages-wrap h4 {
    font-size: 18px;
    padding-top: 20px; }

.first-row {
  padding: 0px 20px 45px 20px; }

.cloud {
  background-image: url(../img/001.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 43px;
  height: 43px; }

.corner-arrow {
  background-image: url(../img/002.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 43px;
  height: 43px; }

.side-arows {
  background-image: url(../img/003.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 43px;
  height: 43px; }

.shield {
  background-image: url(../img/004.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 43px;
  height: 43px; }

.arrow {
  background-image: url(../img/005.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 43px;
  height: 43px; }

.comp {
  background-image: url(../img/006.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 43px;
  height: 43px; }

.bell {
  background-image: url(../img/007.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 43px;
  height: 43px; }

.rocket {
  background-image: url(../img/008.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 43px;
  height: 43px; }

.otkr-button-wrap {
  margin-bottom: 100px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto; }
  .otkr-button-wrap button {
    border: 0px solid transparent;
    border-radius: 3px;
    background-color: #5591ff;
    width: 250px;
    height: 50px;
    vertical-align: center;
    -webkit-box-shadow: 0px 2px 15px rgba(50, 50, 50, 0.67);
            box-shadow: 0px 2px 15px rgba(50, 50, 50, 0.67); }
    .otkr-button-wrap button a {
      color: #fff;
      text-decoration: none;
      line-height: 1.3em;
      font-family: "GothaProReg", sans-serif;
      font-weight: normal;
      font-size: 16px; }

.expert {
  background-image: url(../img/herokstelefonom.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 526px; }

.visa {
  background-image: url(../img/1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 67px;
  height: 22px; }

.mastercard {
  background-image: url(../img/2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 52px;
  height: 40px; }

.maestro {
  background-image: url(../img/3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 52px;
  height: 40px; }

.yadengi {
  background-image: url(../img/4.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 35px; }

.webmoney {
  background-image: url(../img/5.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 123px;
  height: 31px; }

.qiwi {
  background-image: url(../img/6.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 88px;
  height: 34px; }

.swift {
  background-image: url(../img/7.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 82px;
  height: 32px; }

.london {
  background-image: url(../img/8.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 129px;
  height: 32px; }

.dowjones {
  background-image: url(../img/9.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 86px;
  height: 13px; }

.nasdaq {
  background-image: url(../img/10.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 111px;
  height: 31px; }

.diners {
  background-image: url(../img/11.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 115px;
  height: 31px; }

.borse {
  background-image: url(../img/12.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 135px;
  height: 32px; }

.links {
  text-align: center;
  font-size: 16px;
  line-height: 1.5em; }
  .links a {
    text-decoration: none; }
    .links a:hover {
      text-decoration: underline; }

.age-18 {
  background-image: url(../img/18.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 41px;
  height: 41px; }

.clean-100 {
  background-image: url(../img/clean.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px; }

.ssl {
  background-image: url(../img/ssl.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 56px;
  height: 47px; }

.bottom-text-wrap {
  text-align: center;
  font-size: 14px;
  line-height: 2em; }

/*# sourceMappingURL=style.css.map */